@import "tailwindcss";
@import "@mieweb/ui/styles.css";

@source "../client/**/*.{js,jsx,ts,tsx}";
@source "../node_modules/@mieweb/ui/dist/**/*.{js,cjs}";

@custom-variant dark (&:where(.dark, .dark *));